<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Professor</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='professor.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}" />
  </head>
  <body>
    <img src="{{ url_for('static', filename='professor.png') }}" class="icon" />    <h1>AI Teaching Assistant</h1>
    <form action="/" method="post">
      <input type="text" name="theme" placeholder="Enter the essay theme here" required />
      <input type="text" name="language" placeholder="Enter the language" required />
      <input type="number" name="length" placeholder="Enter the length of the answer" required />
      <input type="submit" value="Submit" />
    </form>
    {% if result %}
    <div class="result">{{ result }}</div>
    {% endif %}
  </body>
</html>