<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Professor</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='professor.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}" />
  </head>
  <body>
    <img src="{{ url_for('static', filename='professor.png') }}" class="icon" />
    <h1>AI Teaching Assistant</h1>
    <br>
    <a href="/history"><button>History</button></a>
    <a href="/math"><button>Math</button></a>
    <br>
    <form action="/" method="post" id="language-form">
        <select name="language" onchange="document.getElementById('language-form').submit();">
            <option value="english">English</option>
            <option value="french">French</option>
            <option value="spanish">Spanish</option>
            <option value="italian">Italian</option>
        </select>
    </form>
  </body>
</html>
